.NoteEditor {
  width: 100%;
  height: 100%;
  color: grey;
}

.NoteEditor_noNotes {
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdw-editor-wrapper {
  height: 100%;
}

.rdw-editor-main {
  height: 100%;
}

.rdw-dropdown-optionwrapper {
  color: black;
}