.AppLayout {
  display: flex;
}

.AppLayout-SideBar {
  align-items: center;
}

.AppLayout-SideBarItem {
  margin-top: 100px;
}

.AppLayout-SidebarItem-single {
  text-align: center;
  border-bottom: solid 1px white;
  max-width: 100%;
}

/* .Notes {
  max-width: 90vh;
} */

.NoteList-item {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  width: 100%;
}

.NoteList-item p {
  margin-left: 10px;
  padding: 20px;
}