.FolderItem {
  background: rgba(45, 45, 45);
  padding: 8px;
  color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 100vh;
}

.folder {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px 10px 8px;
  border-bottom: solid 1.8px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}

.folder:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
}
