.FolderList {
  display: flex;
  flex-direction: column;
  background: rgba(45, 45, 45);
  padding: 8px;
  color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 100vh;
}
.FolderList_logout-button {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: bolder;
  width: 100px;
  border-radius: solid 5px;
  align-self: flex-start;
  margin-top: 0;
}

.folder {
  justify-content: space-between;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px 20px 10px 8px;
  border-bottom: solid 1.8px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}

.folder:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
}
