.SidebarItem {
  background: rgba(45, 45, 45);
  padding: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.SidebarItem__caption {
  cursor: pointer;
}

/* style={{ height: "100vh", width: "25vh", backgroundColor: "#8d99ae" }} */
